/* Decent Defaults */
@font-face {
  font-family: "Cubano";
  src: url(./fonts/cubano-webfont.woff);
  font-family: "Majesti";
  src: url(./fonts/majesti-banner-book-webfont.woff);
}
img,
video {
  width: 100%;
  height: auto;
}
h1 {
  font-family: "Majesti";
  font-size: 3rem;
  text-align: center;
}
.navbar {
  background: darkred;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav_container {
  display: flex;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 auto;
}
.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  max-width: 100%;
}
.nav_item {
  font-size: 2rem;
  font-family: "Cubano";
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.nav_links {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  transition: all 0.3s ease;
  text-decoration: none;
}
.nav_links:hover {
  color: black;
  transition: all 0.3s ease;
}
.banner {
  background-color: darkred;
}
.banner h1 {
  color: white;
}
.banner h2,
p {
  color: white;
  text-align: center;
  font-family: "Cubano";
}
button {
  display: flex;
  align-items: ;
}
