/* Decent Defaults */
@font-face {
  font-family: "Cubano";
  src: url(./fonts/cubano-webfont.woff);
  font-family: "Majesti";
  src: url(./fonts/majesti-banner-book-webfont.woff);
}
body {
  background-color: darkred;
}
img,
a {
  text-decoration: none;
  color: inherit;
}
video {
  width: 25%;
  height: auto;
  margin: 2rem 2rem;
  border: 2px solid white;
  border-radius: 15px;
}
h1 {
  font-family: "Majesti";
  font-size: 3rem;
  text-align: center;
  color: white;
}
.navbar {
  background: darkred;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav_container {
  display: flex;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 auto;
}
.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  max-width: 100%;
}
.nav_item {
  font-size: 2rem;
  font-family: "Cubano";
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.nav_links {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  transition: all 0.3s ease;
  text-decoration: none;
}
.nav_links:hover {
  color: black;
  transition: all 0.3s ease;
}
.banner {
  background-color: darkred;
  border: none;
}
.banner h1 {
  color: white;
}
.banner h2,
p {
  color: white;
  text-align: center;
  font-family: "Cubano";
}
.buttoncont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0.5rem 1rem;
  padding: 1rem;
}
button {
  margin: auto 1rem;
  font-family: "Cubano";
  text-decoration: none;
  color: white;
  background: transparent;
  border: 2px solid white;
  border-radius: 15px;
  margin: 0.5rem 0.5rem;
  font-size: 1.2rem;
}
button:hover {
  background-color: black;
  transition: all 0.3s ease;
}
.everything {
  margin: 20px;
}
.posterscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.poster {
  margin: 20px 20px;
  max-width: 500px;
}

.plot h2 {
  font-family: "Cubano";
  color: white;
  text-align: center;
  max-width: 100ch;
  margin: 0 auto;
}
.plot p {
  font-family: "Majesti";
  color: white;
  text-align: center;
  max-width: 100ch;
  margin: 0 auto;
}
.cast {
  margin: 2rem;
}
.cast h2,
h3,
h4 {
  font-family: "Cubano";
  color: white;
  text-align: center;
  max-width: 100ch;
  margin: 0 auto;
}
.cast ul {
  list-style: none;
  columns: 2;
  color: white;
  min-height: 100px;
  font-size: large;
  text-align: center;
}
.cast li {
  margin: 1rem;
}
.videocontainer h2,
iframe {
  margin: 0 auto;
  display: block;
  max-width: 100ch;
  justify-content: center;
  text-align: center;
}
iframe {
  max-width: 100%;
}
.videocontainer h2 {
  color: white;
}
.everywhere h1 {
  color: white;
}
.everywhere h2 {
  font-family: "Cubano";
  text-align: center;
  color: white;
}
section {
  display: flex;
  justify-content: space-around;
}

.allatonce {
  margin: 20px 20px;
}
.allatonce h1 {
  color: white;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 20px;
}
#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 10px;
}
.galleryImg {
  max-width: 100%;
  border-radius: 10px;
  position: relative;
  transition: transform 0.3s;
  cursor: pointer;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  padding: 20px;
}
#selectedImage {
  max-width: 70%;
}

.sources {
  margin: 10px auto;
  text-align: center;
  font-family: "Cubano";
  color: white;
}
.highlight {
  border-bottom: 5px solid white;
}
